header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url(https://images.unsplash.com/photo-1528419019813-067c18deee09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80)
      no-repeat bottom;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

header:after {
  background: #f9fcff;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
  right: -5%;
  /*top: 90%; */
  top: 100%;
  /*transform-origin: 0 0; */
  /*transform: rotateZ(-4deg); */
  z-index: 0;
}

.header-title,
.header-subtitle,
.header-button {
  color: #fff;
}

.header-title {
  font-size: 3rem;
  color: aquamarine;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.header-button {
  transform: translateZ(0.1px);
  position: relative;
  z-index: 10;
  color: gold;
}

.header-content h6 {
  color: #fff;
  font-size: 0.5rem;
}

.header-content i {
  color: red;
}

.header-content a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dotted;
}
